@model CinePrintwayy.Models.Sessao

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Sessao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorIngresso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorIngresso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAnimacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAnimacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAudio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAudio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdFilme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
</body>
</html>
